html {
  font-size: 24px;
}
.newspaper {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.name {
  font-family: "Times New Roman", serif;
  font-size: 2rem;
}
.name,
.author {
  text-transform: uppercase;
}
.headline {
  font-size: 2em;
  font-weight: bold;
}
