html {
  font-size: 24px;
}
.newspaper {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.name {
  font-family: "Times New Roman", serif;
  font-size: 2rem;
}
.name,
.author {
  text-transform: uppercase;
}
.headline {
  font-size: 2em;
  font-weight: bold;
}
.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
}
.author {
  font-weight: bold;
}
.text {
  text-indent: 20px;
  font-size: 1em;
  line-height: 2em;
  margin-bottom: 15px;
}
