* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
main {
  display: block;
  unicode-bidi: isolate;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
}
.table-container {
  overflow-x: auto;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
  background-image: linear-gradient(
    hsl(197, 92%, 77%, 0.6),
    hsl(197, 92%, 50%, 0.6)
  );
}
th {
  padding: 0.4em;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}
tr[class="read"] {
  background-image: linear-gradient(
    hsl(120, 100%, 85%, 0.6),
    hsl(120, 100%, 65%, 0.6)
  );
}
tr[class="to-read"] {
  background-image: linear-gradient(
    hsl(120, 20%, 95%, 0.6),
    hsl(120, 20%, 75%, 0.6)
  );
}
tr[class="in-progress"] {
  background-image: linear-gradient(
    hsl(40, 100%, 85%, 0.6),
    hsl(40, 100%, 65%, 0.6)
  );
}
td {
  text-align: center;
  padding: 0.3em;
  vertical-align: inherit;
}
span {
  display: inline-block;
}
span[class="status"] {
  border-radius: 20% / 60%;
}
span[class="status"],
span[class^="rate"] {
  height: 1.85em;
  width: 7em;
  padding: 0.3em;
}
span[class^="rate"] > span {
  border: 0.1em solid hsl(0, 0%, 50%);
  border-radius: 50%;
  background-color: hsl(0, 15%, 95%);
  height: 100%;
  width: 20%;
  margin: 0.1em;
}
tr[class="read"] span[class="status"] {
  border: 0.1em solid hsl(120, 75%, 45%);
  background-image: linear-gradient(hsl(120, 75%, 75%), hsl(120, 75%, 50%));
}
tr[class="in-progress"] span[class="status"] {
  border: 0.1em solid hsl(40, 90%, 40%);
  background-image: linear-gradient(hsl(40, 90%, 75%), hsl(40, 90%, 50%));
}
tr[class="to-read"] span[class="status"] {
  border: 0.1em solid hsl(5, 100%, 45%);
  background-image: linear-gradient(hsl(5, 100%, 75%), hsl(5, 100%, 50%));
}
span[class~="one"] :first-child {
  background-image: linear-gradient(hsl(50, 100%, 70%), hsl(50, 100%, 50%));
}
span[class~="two"] :nth-child(1),
span[class~="two"] :nth-child(2) {
  background-image: linear-gradient(hsl(50, 100%, 70%), hsl(50, 100%, 50%));
}
span[class~="three"] span {
  background-image: linear-gradient(hsl(50, 100%, 70%), hsl(50, 100%, 50%));
}
