* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
main {
  display: block;
  unicode-bidi: isolate;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
}
.table-container {
  overflow-x: auto;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}
th {
  padding: 0.4em;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}
tr[class="read"] {
  background-image: linear-gradient(
    hsl(120, 100%, 85%, 0.6),
    hsl(120, 100%, 65%, 0.6)
  );
}
tr[class="to-read"] {
  background-image: linear-gradient(
    hsl(120, 20%, 95%, 0.6),
    hsl(120, 20%, 75%, 0.6)
  );
}
td {
  text-align: center;
  padding: 0.3em;
}
