* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#b3e6ff, #b3e6ff 60%, green 60%);
}
div {
  display: block;
  unicode-bidi: isolate;
}
